* {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none;
}
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    color: #666;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", sans-serif;
}
body .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body .content {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 47%;
}
body .content #danmuText {
    width: 92%;
    height: 3.2em;
    background: url("../image/txt.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    font-size: 1rem;
    padding: 1em;
    border: none;
    outline: 0;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #fff;
}
body .content .textNum {
    position: absolute;
    right: 2%;
    font-size: 1em;
    top: 50%;
    color:#fff;
}
body .content .butt {
    width: 90%;
    height: 5em;
    background: url("../image/btn.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: 0;
    /*tap-highlight-color rgba(0,0,0,0)*/
    /*-webkit-tap-highlight-color rgba(0,0,0,0)*/
    margin-top: 20%;
    margin-left: 5%;
}
@media screen and (min-width: 400px) {
    body .content .butt {
        margin-top: 30%;
    }
}
body .txt {
    font-size: 1em;
    position: absolute;
    bottom: 9%;
    width: 100%;
    text-align: center;
}
body .success {
    position: absolute;
    z-index: 3;
    color: #fff;
    font-size: 1em;
    width: 100%;
    height: 45%;
    left: 50%;
    top: 30%;
    margin-left: -50%;
    text-align: center;
    line-height: 2em;
    border-radius: 10px;
    display: none;
}
body .success img {
    width: 80%;
    height: 80%;
}
body .networkWarning {
    position: absolute;
    z-index: 5;
    top: 30%;
    width: 80%;
    height: 45%;
    left: 10%;
    background: url("../image/ac.png") no-repeat;
    background-size: 100% 80%;
    display: none;
}
body .networkWarning .networkWarning-con {
    width: 100%;
    position: absolute;
    bottom: 19%;
}
body .networkWarning .networkWarning-con h2 {
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
}
body .networkWarning .networkWarning-con h1 {
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background: #0c2b58;
    color: #fff;
    line-height: 1.5em;
}
body .tip {
    width: 40%;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    height: 1.5em;
    line-height: 1.5em;
    top: 70%;
    left: 30%;
    display: none;
}
body .mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
}
.cont {
    position: relative;
}
