* {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none;
}
body {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    font-size: 100%;
    color: #666;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", sans-serif;
    /*.expression-box*/
    /*position absolute*/
    /*z-index 5*/
    /*top 30%*/
    /*width 14em*/
    /*background #fff*/
    /*border-radius 10px*/
    /*left 50%*/
    /*margin-left -7em*/
    /*display none*/
    /*padding-bottom .5em*/
    /*img*/
    /*width 4em*/
    /*height 4em*/
    /*border-radius 8px*/
    /*float left*/
    /*margin-left .5em*/
    /*margin-top .5em*/
}

.restart{
    width: 5em;
    height: 1.8em;
    display: inline-block;
    background: #29fefe;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color:#08487f;
    line-height: 1.8em;
    font-size: 0.875em;
    text-align: center;
    border:1px solid #f1f1f1;
}

#danmukuWrap{
    width: 100%;
    height: 200px;
    padding-top:10px;
}
#danmukuWrap .container{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.danmucontrol{
    width: 5em;
    height: 1.8em;
    display: inline-block;
    background: #29fefe;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color:#08487f;
    line-height: 1.8em;
    font-size: 0.875em;
    text-align: center;
    border:1px solid #f1f1f1;
}


#danmukuWrap .container .cmt{
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    position: fixed;
    padding: 3px 0 0 0;
    margin: 0;
    color: #fff;
    font-family: SimHei,SimSun,Heiti,"MS Mincho","Meiryo","Microsoft YaHei",monospace;
    font-size: 25px;
    text-decoration: none;
    text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 100%;
    letter-spacing: 0;
    word-break: keep-all;
    white-space: pre;
}


body .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body .content {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 36%;
    /*z-index: 3;*/
}
body .content #danmuText {
    width: 95%;
    height: 5em;
    background: url("/images/senddm/txt.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    font-size: 0.8em;
    padding: 0.5em;
    border: none;
    outline: 0;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    resize: none;
    color:#fff;
    line-height: 2.5em;
}
body .content .textNum {
    position: absolute;
    right: 5%;
    font-size: 1em;
    top: 6.1em;
    color:#fff;
}
body .content .color {
    width: 3em;
    height: 3em;
    background: url("/images/senddm/color.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: 0;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    vertical-align: bottom;
    margin-top: 1em;
}
body .content .color.active {
	background: url("/images/senddm/color-active.png") no-repeat;
    background-size: 100% 100%;
}
body .content .color span {
    font-size: 2em;
    font-weight: bold;
}
body .content .color-box {
    position: absolute;
    z-index: 5;
    top: 52%;
    width: 14em;
    background: #fff;
    border-radius: 10px;
    left: -1em;
    display: none;
    padding-top: 0.5em;
    border: 4px solid #000;
    box-shadow: 4px 4px 7px #000;
}
body .content .color-box .jiao {
    position: absolute;
    top: -16px;
    left: 20px;
}
body .content .color-box li {
    width: 3em;
    height: 3em;
    float: left;
    margin: 0.25em;
}
body .content .color-box li.active{
    background: url(/images/senddm/active.png) no-repeat;
    background-size: 100% 100%;
}
body .content .color-box li p {
    width: 2.5em;
    height: 2.5em;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin: 0.25em;
}
body .content .color-box li div {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: #ffca22;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #000;
    display: none;
}
body .content .color-box li .val-1 {
    background: #ffffff;
}
body .content .color-box li .val-2 {
    background: #fed73e;
}
body .content .color-box li .val-3 {
    background: #fc5125;
}
body .content .color-box li .val-4 {
    background: #f940dc;
}
body .content .color-box li .val-5 {
    background: #aaaaaa;
}
body .content .color-box li .val-6 {
    background: #4bdffd;
}
body .content .color-box li .val-7 {
    background: #65a2fb;
}
body .content .color-box li .val-8 {
    background: #52f7bd;
}
body .content .expression {
    width: 3em;
    height: 3em;
    background: url("/images/senddm/expression.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: 0;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    vertical-align: bottom;
}
body .content .expression.active {
	background: url("/images/senddm/expression-active.png") no-repeat;
	background-size: 100% 100%;
}
body .content .expression-box {
    position: absolute;
    z-index: 5;
    top: 52%;
    width: 14em;
    background: #fff;
    border-radius: 10px;
    left: -1em;
    display: none;
    padding-top: 0.5em;
    border: 4px solid #000;
    box-shadow: 4px 4px 7px #000;
}
body .content .expression-box .jiao {
    position: absolute;
    top: -16px;
    left: 50px;
}
body .content .expression-box li {
    width: 3em;
    height: 3em;
    margin: 0.25em;
    float: left;
}
body .content .expression-box li.active {
    background: url(/images/senddm/active.png) no-repeat;
    background-size: 100% 100%;
}
body .content .expression-box li img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin: 0.25em;
}
/*
body .content .expression-box li div {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: #ffca22;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #000;
    display: none;
}
*/
body .content .vs{
	width: 4em;
	height: 3em;
	background: url(/images/senddm/vs.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
    bottom: -4.6em;
    left: 50%;
    margin-left: -2em;
}
body .content .buluo{
	width:4.2em;
	height:4.2em;
	position: absolute;
	right: 0;
	bottom:-5em;
	background:url(/images/senddm/tuoxie.png) no-repeat;
	background-size: 100% 100%;
}
body .content .buluo p,.lianmeng p{
	font-size: 0.6em;
	color:aliceblue
}
body .content .buluo img,.lianmeng img{
	width: 2.8em;
	height:2.8em;
	margin-left: 0.6em;
    margin-top: 0.4em;
}
body .content .lianmeng{
	width:4.2em;
	height:4.2em;
	position: absolute;
	left: 0;
	bottom:-5em;
	background: url(/images/senddm/gali.png) no-repeat;
	background-size: 100% 100%;
}
body .content .butt {
    width: 90%;
    height: 4em;
    background: url("/images/senddm/btn.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: 0;
    /*tap-highlight-color rgba(0,0,0,0)*/
    /*-webkit-tap-highlight-color rgba(0,0,0,0)*/
    margin-top: 6.2em;
	margin-left: 5%
}
body .content .butt:active {
	background: url("/images/senddm/btn-active.png") no-repeat;
    background-size: 100% 100%;
}
body .txt {
    font-size: 1em;
    position: absolute;
    bottom: 9%;
    width: 100%;
    text-align: center;
}
body .success {
    position: absolute;
    z-index: 7;
    color: #fff;
    font-size: 1em;
    width: 80%;
    height: 37%;
    left: 50%;
    top: 30%;
    margin-left: -40%;
    text-align: center;
    line-height: 2em;
    border-radius: 10px;
    display: none;
}
body .success img {
    width: 80%;
    height: 80%;
}
body .networkWarning {
    position: absolute;
    z-index: 5;
    top: 30%;
    width: 70%;
    left: 15%;
    display: none;
}
body .networkWarning img {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: -0.3em;
    border: none;
}
body .networkWarning .networkWarning-con {
    background: url('/images/senddm/tip-bg.png') no-repeat;
	background-size: 100% 100%;
    border-radius: 10px;
    padding-bottom: 0.2em;
}
body .networkWarning .networkWarning-con h2 {
    font-size: 0.8em;
    text-align: center;
    padding-top: 1em;
	color:#000;
}
body .networkWarning .networkWarning-con h1 {
    margin-top: 0.5em;
    font-size: 1.2em;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    background: #0c2b58;
    color: #fff;
    line-height: 1.5em;
}
body .remind {
    width: 40%;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    height: 1.5em;
    line-height: 1.5em;
    top: 58%;
    left: 30%;
    display: none;
}
.mask {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.mask1 {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
}
.cont {
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
}
body .confirm {
    position: absolute;
    z-index: 5;
    top: 30%;
    width: 70%;
    left: 15%;
    display: none;
}
body .confirm img {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: -0.4em;
    border: none;
}
body .confirm .confirm-con {
    background: url('/images/senddm/tip-bg.png') no-repeat;
    border-radius: 10px;
    padding-bottom: 0.2em;
   	background-size: 100% 100%;
}
body .confirm .confirm-con h2 {
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
    color: #000;
}
body .confirm .confirm-con .btnbox {
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
    margin-bottom: 5%;
    color: #000;
}
body .confirm .confirm-con .btnbox .determine {
    width: 40%;
    line-height: 2.5em;
    font-size: 0.6em;
    font-weight: bold;
    background: #0c2b58;
    margin-right: 0.5em;
    color:#fff;
	border: none;
}
body .confirm .confirm-con .btnbox .determine:active {
	background:rgba(12,43,88,0.2);
}
body .confirm .confirm-con .btnbox .cancel {
    width: 40%;
    line-height: 2.5em;
    font-size: 0.6em;
    font-weight: bold;
    background: #0c2b58;
    color:#fff;
	border: none;
}
body .confirm .confirm-con .btnbox .cancel:active {
	background:rgba(12,43,88,0.2);
}
/*4s样式*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-device-pixel-ratio: 2)
and (device-aspect-ratio: 2/3)
and (orientation:portrait)  {
	body .content .butt{
		margin-top:3.4em;
	}
	body .remind{
		top:66%;
	}	
	body .content .expression-box{
		top:62%;
	}
	body .content .color-box{
		top:62%;
	}
}
/*5s样式*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
	body .remind{
		top:62%;
	}
	body .content .lianmeng,body .content .buluo{
		bottom:-6em;
	}
	body .content .vs{
		bottom:-5.8em;
	}
	body .content .butt{
		margin-top:3.2em;
	}
}
/*6s样式*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {  
    body .content .butt{
		margin-top:6em;
		height:4.5em;
	}
	body .content .color-box{
		top:46%;
	}
	body .content .expression-box{
		top:46%;
	}
	body .content .buluo{
		right:1em;
	}
	body .content .lianmeng{
		left:1em;
	}
}
/*6p样式*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
    body .content .butt{
		margin-top:8.4em;
	}
	body .content .expression-box{
		top:39%;
	}
	body .content .color-box{
		top:39%;
	}
	body .content .buluo{
		right:1.5em;
	}
	body .content .lianmeng{
		left:1.5em;
	}
}
